{% set bookDetails_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
  {% if book %}
    <div class="row">
      <div class="col-sm-offset-1 col-sm-6">
        <h3>{{ book.titre }}</h3>
        de <i><u>{{ book.auteur }}</u></i>

        <p>{{ book.synopsis }}</p>
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}_small.jpg" width=80% />
      </div>
    </div>

    </div>

  {% endif %}
{% endblock %}
