{% set bookDetails_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
  {% if book %}
    <div class="row">
      <div class="col-sm-offset-1 col-sm-6">
        <h3>{{ book.titre }}</h3>
        de <i><u>{{ book.auteur }}</u></i>

        <p>{{ book.synopsis }}</p>
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}_small.jpg" width=80% />
      </div>
    </div>
    {% if copies|length > 0 %}
    <div class="row">
      <div class="col-sm-offset-1 col-sm-4">
        <p>Nombre d'exemplaires : {{ copies|length }}</p>
        <br/>
        <table class="table">
          <thead>
            <tr>
              <th>Identifiant emprunts</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for copy in copies %}
              <tr>
                <td>{{ copy.id }}</td>
                <td><button class="btn btn-primary">Emprunter</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    </div>

  {% endif %}
{% endblock %}
